.container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.columnsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.columnsContainer > * {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

.rowsContainer {
}

.rowContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.rowContainer:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

.rowContainer > * {
  width: 100%;
  text-align: center;
  padding: 5px;
}
