

.progressBarContainer {
  width: 100%;
  border-radius: 5px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  animation: progressBarContainerAnim 0.2s ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  transition: height 0.2s ease-in-out, 
  margin 0.2s ease-in-out;
}

.progressBarContainer[hidden] {
  height: 0;
  margin: 0;
}

@keyframes progressBarContainerAnim {
  100% {
    background-color: rgba(0, 0, 0, 0.212);
  }
}

.progressBarPart {
  position: relative;
  width: 0;
  background-color: rgba(90, 197, 246, 0.822);
  animation: progressBarAnim 0.2s ease-in-out;
  animation-fill-mode: forwards;
  height: 100%;
  clip-path: polygon(0 0, Calc(100% - 10px) 0, 100% 100%, 10px 100%);
}

.progressBarPart:nth-child(3) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%);
}

.progressBarPart:nth-child(1) {
  clip-path: polygon(0 0, Calc(100% - 10px) 0, 100% 100%, 0 100%);
}

@keyframes progressBarAnim {
  100% {
    width: 33.3333%;
  }
}