html {
  zoom: 2;
}

body {
  font-family: "Fira Sans";
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Quartzo";
  font-weight: bold;
  src: url("/QuartzoBold-W9lv.ttf") format("truetype");
}

@font-face {
  font-family: "Freshman";
  src: url("/Freshman-POdx.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgb(6, 255, 201);
  background: linear-gradient(
    180deg,
    rgba(6, 255, 201, 0.5) 0%,
    rgba(0, 212, 255, 0.5) 100%
  );
  border-radius: 10px;
}
