.menu {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  height: 60px;
  inset: 0;
}

.menu::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -100;
  backdrop-filter: blur(8px);
  /* filter: drop-shadow(0 10px 4px #000000); */
  box-shadow: 0 5px 10px #00000046;
}

/* .background {
	width: 100%;
	background-color: black;
	filter: blur(8px);
} */

.menuItem {
  text-align: center;
  color: white;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.menuWelcomeText {
  cursor: initial;
  margin: 0px 10px 0px auto;
}

.menuWelcomeText:hover {
  background-color: transparent;
}
